@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.answer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.next-previous-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.previous-button {
    width: 104px;
}

.check-answers-button {
    width: 160px;
}

.next-previous-button-flexbox {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    width: 100%;
    padding: 0 10%;
}

.button-container {
    padding: 0 10px;
}

.card-component {
    max-width: 400px;
    width: 100%;
    padding: 35px 15px;
}

.headline {
    padding-bottom: 15px;
}

.card-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px 10%;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.symbol {
    font-size: 40px;
    line-height: 22px;
}

.question-text-results-card {
    padding-left: 15px;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
}

.question-container {
    padding-bottom: 15px;
}

.question-text-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100px;
}

.question-text-question-card {
    font-size: 17px;
    line-height: 28px;
    padding: 0 25px;
    text-align: center;
}

.progress-container {
    padding-top: 50px;
}

.progress-spinner {
    padding-top: 100px;
}

.question-card {
    padding-bottom: 80px;
}

.answer-text-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.correct-answer-text {
    padding-top: 5px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 17px;
}